
<mat-drawer-container autosize="true">
  <mat-drawer class="sidenav" mode="side" opened>
    <mat-toolbar color="primary" id= "nav_header">
      <mat-toolbar-row>
        <h1> Movie List </h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list id="nav_listing" >
      <movie-title *ngFor = "let movie of movies; index as movieId" [movieTitle]="movie.title" [movieId]="movieId" (clickedMovieEvent)="selectedMovie=$event">  </movie-title>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" >
      <span class="spacer"></span>
      Movies App
    </mat-toolbar>
    <div *ngIf="selectedMovie > -1 then displayMovie; else noMovie" >
    </div>
    <ng-template #displayMovie>
      
      <movie-detail [movie]="movies[selectedMovie]"> </movie-detail>
      <comment-form [movie_id]="movies[selectedMovie].id" (refreshCommentsEvent)="refreshComments=$event"> </comment-form>
      <comment-list [movie_id]="movies[selectedMovie].id" [refreshComments]="refreshComments"></comment-list>
    </ng-template>
    <ng-template #noMovie>
      <h2>No movie has been selected.</h2>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>